version: "3.9"
services:

  server: 
    image: sanguino/eolo-planner-server
    ports:
    - 3000:3000
    env_file:
    - production.env
    depends_on: 
    - mysql
    - rabbitmq
    command: ["./wait-for-it.sh", "-t", "120", "mysql:3306", "--", "./wait-for-it.sh", "-t", "120", "rabbitmq:5672", "--", "node", "src/server.js"]

  planner: 
    image: sanguino/eolo-planner-plannerservice
    env_file:
    - production.env
    depends_on:
    - toposervice
    - weatherservice
    command: ["./wait-for-it.sh", "-t", "120", "rabbitmq:5672", "--", "java", "-jar", "planner-0.0.1-SNAPSHOT.jar"]

  weatherservice: 
    image: sanguino/eolo-planner-weatherservice
    ports:
    - 9090:9090
    env_file:
    - production.env

  toposervice: 
    image: sanguino/eolo-planner-toposervice
    ports:
    - 8080:8080
    env_file:
    - production.env
    depends_on:
    - mongo

  mongo:
    image: mongo:latest
    ports:
    - 27017-27019:27017-27019
    env_file:
    - production.env
    volumes:
    - ./data/mongo:/data/db

  mysql:
    image: mysql:8.0.22
    ports:
    - 3306:3306
    env_file:
    - production.env
    volumes:
    - ./data/mysql:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3-management
    ports:
    - 5672:5672
    - 15672:15672
    volumes:
    - ./data/rabbitmq:/var/lib/rabbitmq/mnesia/





